body,
html{
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: rgba(0, 0, 0, 0); */
    /* background-image: -moz-linear-gradient(45deg, rgb(194, 235, 255), rgb(255, 237, 194));

    background-image: -webkit-linear-gradient(45deg, rgb(194, 235, 255), rgb(255, 237, 194));
    
    background-image: linear-gradient(45deg, rgb(194, 235, 255), rgb(255, 237, 194)); */
    background-image: -moz-linear-gradient(90deg, rgb(199, 237, 255), rgb(248, 229, 219));

background-image: -webkit-linear-gradient(90deg, rgb(199, 237, 255), rgb(248, 229, 219));

background-image: linear-gradient(90deg, rgb(199, 237, 255), rgb(248, 229, 219));
    background-repeat: repeat;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: rgb(255,255,255);
    margin-bottom: 30px;
  }

  